*{
	box-sizing: border-box;
}

#beef-container{
	height: 1000px;
	font-size: 16px;
	background-color:#F8BEBF;
	border: 1px solid black;
}
#chicken-container{
	height: 1000px;
	font-size: 16px;
	background-color:#F8BEBF;
	border: 1px solid black;
}
#sushi-container{
	height: 1000px;
	font-size: 16px;
	background-color:#F8BEBF;
	border: 1px solid black;
}
.menu-container-heading{
	text-align: center;
	font-size: 1.5em;
	font-weight: 600;
	background-color:rgba(0,0,0,0.33);
	color: rgba(255,255,255,1.00)
}

/********** Large devices only **********/
@media (min-width: 1200px) {
	#beef-container, #chicken-container, #sushi-container {
		margin-left: 5px;
		margin-right: 5px;
		width: 395px;
	}
}
/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
	#chicken-container, #sushi-container {
		margin:5px;
		width:50%;
	}
	#beef-container{
		margin:0px 5px 0px 5px;
	}
  }
/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	#beef-container, #chicken-container, #sushi-container{
		margin:5px;	
	}
}
/********** Extra small devices only **********/
@media (max-width: 767px) {
  #beef-container, #chicken-container, #sushi-container{
		margin:5px;	
	}
  }